<footer class="py-2 bg-dark fixed-bottom">
  <div class="container">
    <p class="m-0 text-center text-white">Created by Corny with the help of Traversy Media and Bootstrap free template</p>
  </div>
</footer>
