<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1><%= title%></h1>
    <form id="add-form" method="POST" action='/articles/edit/<%= article.id %>'>
      <div class="form-group">
        <label for="title">Title</label>
        <input name="title" type="text" class="form-control" id="title" value="<%= article.title %>">
      </div>
      <div class="form-group">
        <label for="body">Text</label>
        <textarea name="body" class="form-control" id="body" rows="3" ><%= article.body %></textarea>
      </div>
      <label for="category">Category</label>
      <div>
        <select class="custom-select" multiple name="category">
          <option value="food" name>Food</option>
          <option value="zen" selected>Zen</option>
          <option value="lifestyle">Lifestyle</option>
          <option value="running">Running</option>
          <option value="books">Books</option>
          <option value="kubica">Kubica</option>
        </select>
      </div>
      <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
    </form>
    <% include partials/footer.ejs %>
  </body>
</html>
