/*Global  */
html, body {
  overflow: auto;``
}
h1{
  text-align: center;
}
.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-success{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
/* Nav */

#nav-menu{
  float: right;
}
/*Article  */
.wrapper{
  width: 80%;
  margin: auto;
}
.art-content{
  text-align: justify;
}
.art-comments h4, h5 {
  text-align: center;
}

.no-art{
  color: gray;
  padding: 30px;
}
footer {
  margin-top: 10px;
}

@media(max-width: 500px) {
  #nav-title, #nav-hamburger, #main-nav ul{
    margin: auto;
    text-align: center;
  }
  #main-nav ul{
    float: none;
  }

}
